<div class="reservation-page">
  <ng-container *ngIf="!showPaymentForm; else paymentForm">
    <div #reservationFormSection>
      <app-reservation-form
        [fieldId]="fieldId.toString()"
        [timeslots]="filteredTimeslots"
        [disabledTimeslotIds]="disabledTimeslotIds"
        [prefillData]="reservationData"
        (reserveTimeslot)="onProceedToPayment($event)"
      >
      </app-reservation-form>
    </div>
  </ng-container>

  <ng-template #paymentForm>
    <app-payment-form
      [paymentMethod]="reservationData?.paymentMethod"
      [reservationData]="reservationData"
      (paymentSuccess)="onPaymentSuccess($event)"
      (goBack)="showPaymentForm = false"
    >
    </app-payment-form>
  </ng-template>
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
