.home-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../assets/images/MD9.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .button-container {
    text-align: center;
  }
  
  .home-button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .home-button:hover {
    background-color: #0056b3;
  }
  