<header class="header">
  <h1><a href="/"> Welcome to MD9</a></h1>
  <div>
    <mat-tab-group
      backgroundColor="primary"
      [selectedIndex]="selectedTabIndex"
      (selectedIndexChange)="onTabChange($event)"
    >
      <mat-tab label="حجز ملعب"></mat-tab>
      <mat-tab label="تسجيل للاكاديمية"></mat-tab>
      <mat-tab label="معرض الصور"></mat-tab>
      <mat-tab label="تواصل معنا"></mat-tab>
      <mat-tab label="من نحن؟"></mat-tab>
    </mat-tab-group>
  </div>
  <div>
    <button *ngIf="isAdminLogged" class="admin-logout" (click)="logout()">
      Logout
    </button>
    <button class="admin-button" (click)="handleAdminLogin()">
      Admin Zone
    </button>
  </div>
</header>
