:host {
  .reservation-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 24px;
    background-color: #fafafa;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    gap: 16px;
    // font-family: 'Roboto', sans-serif;
    // transition: box-shadow 0.3s ease-in-out;
  }

  .calendar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;

    mat-calendar {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
    }
  }

  mat-form-field {
    width: 100%;
  }

  button {
    align-self: flex-end;
    padding: 10px 20px;
    font-weight: 500;
    // letter-spacing: 0.5px;
  }

  @media (max-width: 600px) {
    .reservation-form {
      padding: 24px 16px;
      box-shadow: none;
    }

    .calendar-container {
      margin-bottom: 16px;
    }
  }
}