/* You can add global styles to this file, and also import other style files */
/* Global Styles */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden; // Prevent full page scroll, we'll scroll inside main
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  padding-top: 80px; // Ensures room below sticky header  
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./assets/images/MD9.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 20px;
  flex: 1 1 auto;
  overflow-y: auto;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
